.projects{
    position:relative;
}

.projects::before{

    content:"";

    position:absolute;

    width:400px;
    height:400px;

    background:#8B5CF6;

    filter:blur(180px);

    opacity:.12;

    right:-120px;
    top:50px;

    z-index:-1;
}

.projects-container{

    max-width:1300px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

    gap:35px;
}

/* Card */

.project-card{

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:22px;

    overflow:hidden;

    transition:.4s;

    display:flex;

    flex-direction:column;
}

.project-card:hover{

    transform:translateY(-12px);

    box-shadow:0 20px 45px rgba(124,58,237,.25);

    border-color:#8B5CF6;
}

/* Image */

.project-image{

    width:100%;

    height:230px;

    overflow:hidden;
}

.project-image img{

    width:100%;
    height:100%;

    object-fit:cover;

    transition:.5s;
}

.project-card:hover img{

    transform:scale(1.08);
}

/* Content */

.project-content{

    padding:25px;
}

.project-content h3{

    font-size:24px;

    margin-bottom:15px;

    color:white;
}

.project-content p{

    color:#b8c1d1;

    line-height:1.8;

    margin-bottom:20px;
}

/* Tech Stack */

.tech-stack{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    margin-bottom:25px;
}

.tech-stack span{

    padding:8px 14px;

    background:#8B5CF6;

    border-radius:30px;

    font-size:13px;

    font-weight:500;
}

/* Buttons */

.project-buttons{

    display:flex;

    gap:15px;

    flex-wrap:wrap;
}

.project-buttons a{

    flex:1;

    min-width:140px;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    padding:14px;

    border-radius:12px;

    background:rgba(255,255,255,.08);

    transition:.35s;
}

.project-buttons a:hover{

    background:#8B5CF6;
}

.project-buttons svg{

    font-size:18px;
}

/* Tablet */

@media(max-width:992px){

.projects-container{

grid-template-columns:repeat(2,1fr);

}

}

/* Mobile */

@media(max-width:768px){

.projects{

padding:80px 20px;

}

.projects-container{

grid-template-columns:1fr;

}

.project-image{

height:220px;

}

.project-content{

padding:20px;

}

.project-content h3{

font-size:22px;

}

.project-buttons{

flex-direction:column;

}

.project-buttons a{

width:100%;

}

}