.skills{
    position:relative;
}

/* Background Glow */

.skills::before{

    content:"";

    position:absolute;

    width:350px;
    height:350px;

    background:#2563EB;

    filter:blur(180px);

    opacity:.12;

    left:-120px;
    bottom:-80px;

    z-index:-1;
}

/* Grid */

.skills-grid{

    max-width:1200px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(170px,1fr));

    gap:30px;
}

/* Card */

.skill-card{

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:22px;

    padding:35px 20px;

    text-align:center;

    transition:.35s;

    cursor:pointer;
}

.skill-card:hover{

    transform:translateY(-12px);

    background:rgba(124,58,237,.15);

    box-shadow:0 20px 40px rgba(124,58,237,.25);
}

/* Icon */

.skill-icon{

    width:75px;
    height:75px;

    margin:auto;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:42px;

    border-radius:18px;

    background:rgba(255,255,255,.05);

    margin-bottom:20px;

    transition:.35s;
}

.skill-card:hover .skill-icon{

    transform:scale(1.12) rotate(6deg);
}

/* Title */

.skill-card h3{

    font-size:18px;

    color:#fff;

    font-weight:600;
}

/* Tablet */

@media(max-width:992px){

.skills-grid{

grid-template-columns:repeat(3,1fr);

}

}

/* Mobile */

@media(max-width:768px){

.skills{

padding:80px 20px;

}

.skills-grid{

grid-template-columns:repeat(2,1fr);

gap:18px;

}

.skill-card{

padding:25px 15px;

}

.skill-icon{

width:60px;
height:60px;

font-size:32px;

}

.skill-card h3{

font-size:15px;

}

}

/* Small Phones */

@media(max-width:420px){

.skills-grid{

grid-template-columns:1fr 1fr;

}

}