.skills{
    padding:120px 8%;
}

.skills-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));

    gap:25px;

    margin-top:60px;

}

.skill-card{

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(18px);

    -webkit-backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:20px;

    padding:35px 20px;

    text-align:center;

    transition:.35s;

    cursor:pointer;

    box-shadow:0 8px 30px rgba(0,0,0,.25);

}

.skill-card:hover{

    border-color:#8b5cf6;

    box-shadow:0 0 25px rgba(139,92,246,.4);

}

.skill-icon{

    font-size:55px;

    margin-bottom:18px;

    transition:.4s;

}

.skill-card:hover .skill-icon{

    transform:rotate(10deg) scale(1.2);

}

.skill-card h3{

    font-size:18px;

    font-weight:600;

    margin-top:10px;

}

@media(max-width:768px){

.skills{

padding:90px 25px;

}

.skills-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:480px){

.skills-grid{

grid-template-columns:1fr;

}

}
