.contact{
    position:relative;
}

.contact::before{
    content:"";
    position:absolute;
    width:350px;
    height:350px;
    background:#2563EB;
    filter:blur(180px);
    opacity:.15;
    left:-120px;
    bottom:-100px;
    z-index:-1;
}

.contact-container{
    max-width:1200px;
    margin:auto;

    display:grid;
    grid-template-columns:1fr 1.2fr;
    gap:50px;
}

/* Left Side */

.contact-info{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.info-card{
    display:flex;
    align-items:center;
    gap:18px;

    padding:25px;

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border-radius:20px;

    transition:.35s;
}

.info-card:hover{
    transform:translateY(-8px);
    border-color:#8B5CF6;
    box-shadow:0 15px 30px rgba(124,58,237,.25);
}

.info-icon{
    width:60px;
    height:60px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;

    background:#8B5CF6;

    font-size:24px;
}

.info-card h3{
    margin-bottom:5px;
}

.info-card p{
    color:#b8c1d1;
}

/* Form */

.contact-form{

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:25px;

    padding:35px;
}

.contact-form form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.contact-form input,
.contact-form textarea{

    width:100%;

    padding:16px 18px;

    border:none;

    outline:none;

    border-radius:12px;

    background:rgba(255,255,255,.08);

    color:white;

    font-size:16px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
    color:#94A3B8;
}

.contact-form textarea{
    min-height:160px;
    resize:none;
}

.contact-form button{
    border:none;
    cursor:pointer;
}

/* Responsive */

@media(max-width:992px){

.contact-container{

grid-template-columns:1fr;

}

}

@media(max-width:768px){

.contact{

padding:80px 20px;

}

.contact-form{

padding:25px;

}

.info-card{

padding:20px;

}

.info-icon{

width:55px;
height:55px;

font-size:22px;

}

}