.navbar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;

    padding:0 8%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background:rgba(8,10,25,.75);
    backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.08);

    z-index:1000;
}

/* Logo */

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo-icon{
    width:45px;
    height:45px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#8B5CF6,#2563EB);

    font-size:22px;

    box-shadow:0 0 20px rgba(124,58,237,.5);
}

.logo h2{
    font-size:26px;
    font-weight:700;
    color:#fff;
}

/* Navigation */

.nav-links{
    display:flex;
    align-items:center;
    gap:35px;
}

.nav-links a{

    position:relative;

    color:#fff;

    font-size:16px;

    font-weight:500;

    transition:.3s;
}

.nav-links a:hover{
    color:#8B5CF6;
}

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-8px;

    width:0;
    height:2px;

    background:#8B5CF6;

    transition:.35s;
}

.nav-links a:hover::after{

    width:100%;
}

/* Social Icons */

.social-icons{

    display:flex;
    gap:18px;
}

.social-icons a{

    width:42px;
    height:42px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:rgba(255,255,255,.06);

    transition:.35s;

    font-size:18px;
}

.social-icons a:hover{

    background:#8B5CF6;

    transform:translateY(-4px);

    box-shadow:0 10px 25px rgba(124,58,237,.5);
}

/* Menu Button */

.menu-btn{

    display:none;

    color:#fff;

    font-size:30px;

    cursor:pointer;
}

/* Tablet */

@media(max-width:992px){

.social-icons{

display:none;

}

}

/* Mobile */

@media(max-width:768px){

.navbar{

padding:0 20px;

height:75px;

}

.logo h2{

font-size:22px;

}

.menu-btn{

display:block;

z-index:1002;

}

.nav-links{

position:fixed;

top:75px;

left:-100%;

width:100%;

height:calc(100vh - 75px);

background:rgba(10,10,25,.98);

backdrop-filter:blur(20px);

display:flex;

flex-direction:column;

justify-content:flex-start;

align-items:center;

padding-top:60px;

gap:35px;

transition:.4s ease;

}

.nav-links.active{

left:0;

}

.nav-links a{

font-size:22px;

}

}