*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    width:100%;

    overflow-x:hidden;

   background:#456fd0;

    color: white;

    font-family:"Poppins",sans-serif;


}

#root{

    width:100%;

    min-height:100vh;

}
a{
  text-decoration:none;
  color:inherit;
}

ul{
  list-style:none;
}