*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    width:100%;
    overflow-x:hidden;

    font-family:"Poppins",sans-serif;

    background:
      radial-gradient(circle at top,#6D28D9 0%,transparent 30%),
      radial-gradient(circle at bottom right,#2563EB 0%,transparent 30%),
      #050816;

    color:white;
}

#root{
    width:100%;
    min-height:100vh;
    overflow-x:hidden;
}

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

img{
    display:block;
    max-width:100%;
}

section{
    width:100%;
    padding:100px 8%;
}